[Unit]
Description=Terraforming Mars Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --name %n -p 9999:8080 terraforming-mars

[Install]
WantedBy=multi-user.target
